# Node dependencies
/node_modules
/.pnp
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*
!.env.example

# Testing
/coverage

# Production
/build

# Miscellaneous
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Temp files
*.tmp
*.swp
*.bak
*.pid
*.seed
*.pid.lock

# OS-specific files
Thumbs.db
ehthumbs.db
